* {
  padding: 0;
  margin: 0;
}
ul, li {
  list-style: none;
}
.header {
  height: 65px;
  line-height: 65px;
  background-color: #eff4fa;
  text-align: center;
  color: #225592;
  font-size: 28px;
}

.content {
  max-width: 750px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.voteWrap {
  padding: 0 8px;
}
.votechoice {
  padding-top: 20px;
}

.votechoice input {
  display: inline-block;
}

.votechoice ul {
  padding-top: 10px;
}

.votechoice ul li {
  padding-top: 15px;
  margin-left: 20px;
}

.votechoicename {
  padding-left: 10px;
}

.button {
  display: block;
    width: 180px;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 1px #333;
    border-radius: 5px;
    margin: 40px auto;
    /* margin: 0 20px 20px 0; */
    overflow: hidden;
    border: 1px solid #1e7db9;
    background-color: #2e88c0;
    box-shadow: 0 1px 2px #8fcaee inset, 0 -1px 0 #497897 inset, 0 -2px 3px #8fcaee inset;
    background: -webkit-linear-gradient(top, #42a4e0, #2e88c0);
    background: -moz-linear-gradient(top, #42a4e0, #2e88c0);
    background: linear-gradient(top, #42a4e0, #2e88c0);
}

/*-------结果页面css---------------------*/
#show_result {

}
